<igx-grid #grid1 [data]="gridData" [autoGenerate]="false" [width]="'1240px'" [height]="'900px'">
  <igx-column field="Ticker" sortable="true" filterable="true" width="90px"></igx-column>
  <igx-column field="TimeStamp" header="Time Stamp" dataType="Date" width="120px" hidden="hidden">
    <ng-template igxCell let-val>{{val.getMonth() + 1}}-{{val.getDate()}}-{{ val.getFullYear() }}</ng-template>
  </igx-column>
  <igx-column field="Open" width="120px">
    <ng-template igxCell let-val><igx-icon *ngIf="val.change > 0" name="trending_up" color="green"></igx-icon><igx-icon *ngIf="val.change < 0" name="trending_down" color="red"></igx-icon> {{val.currentValue}}</ng-template>
  </igx-column>
  <igx-column field="High" width="90px">
    <ng-template igxCell let-val>{{val.currentValue}}</ng-template>
  </igx-column>
  <igx-column field="Low" width="90px">
    <ng-template igxCell let-val>{{val.currentValue}}</ng-template>
  </igx-column>
  <igx-column field="Close" width="90px">
    <ng-template igxCell let-val>{{val.currentValue}}</ng-template>
  </igx-column>
  <igx-column field="Volume" width="100px" filterable="true">
    <ng-template igxCell let-val>{{val.currentValue}}</ng-template>
  </igx-column>
  <igx-column field="AdjustedOpen" header="Adj-Open" width="90px">
    <ng-template igxCell let-val>{{val.currentValue}}</ng-template>
  </igx-column>
  <igx-column field="AdjustedHigh" header="Adj-High" width="90px">
    <ng-template igxCell let-val>{{val.currentValue}}</ng-template>
  </igx-column>
  <igx-column field="AdjustedLow" header="Adj-Low" width="90px">
    <ng-template igxCell let-val>{{val.currentValue}}</ng-template>
  </igx-column>
  <igx-column field="AdjustedClose" header="Adj-Close" width="90px">
    <ng-template igxCell let-val>{{val.currentValue}}</ng-template>
  </igx-column>
  <igx-column field="AdjustedVolume" header="Adj-Volume" width="100px">
    <ng-template igxCell let-val>{{val.currentValue}}</ng-template>
  </igx-column>
</igx-grid>
